{% extends "base.html" %}
{% block content %}

    <main id="main">
        <form method="POST" class="mx-5 mt-5 d-flex flex-column">
            <a href="/administration/skills"><button class="btn btn-primary mb-5">BACK</button></a>
            {% csrf_token %}
            <div class="w-100 d-flex">
                <div class=" d-flex w-25">
                    <label for="inputText" class="me-2">Langage</label>
                    <input id='inputText' type="text" name='langage' value={{skill.langage}}></input>
                </div>
                <input type="range" value={{skill.level}} name="level">
            </div>
            <input class='btn btn-outline-success w-25 my-5' type="submit" value="Edit">
        </form>
    </main>

{% endblock content %}